In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Churn_Modelling.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [5]:
df.isnull().sum() #to see weather their is null value or not

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [6]:
df.duplicated().sum()

0

In [7]:
df['Exited'].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [8]:
df['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [9]:
df.drop(['RowNumber', 'CustomerId', 'Surname'], inplace=True, axis=1)

In [10]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [11]:
df= pd.get_dummies(df,columns=['Geography', 'Gender'],drop_first=True)
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0,0

In [12]:
X=df.drop(['Exited'], axis=1)
y=df['Exited']

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X,y, test_size=0.2, random_state=4095)

In [14]:
X.shape

(10000, 11)

In [15]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

X_train_scaled= scaler.fit_transform(X_train)
X_test_scaled= scaler.transform(X_test)

In [16]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, Flatten

2023-02-20 21:56:04.924257: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F AVX512_VNNI FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [17]:
model=Sequential()
model.add(Dense(30, activation='relu', input_dim=11))
model.add(Dense(25, activation='relu', input_dim=11))
model.add(Dense(15, activation='relu', input_dim=11))
model.add(Dense(1, activation='sigmoid'))

2023-02-20 21:56:08.045099: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F AVX512_VNNI FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [18]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 30)                360

 dense_1 (Dense)             (None, 25)                775

 dense_2 (Dense)             (None, 15)                390

 dense_3 (Dense)             (None, 1)                 16

=================================================================
Total params: 1,541
Trainable params: 1,541
Non-trainable params: 0
_________________________________________________________________

In [19]:
model.compile(loss='binary_crossentropy', optimizer='Adam', metrics=['accuracy'])

In [20]:
model.fit(X_train_scaled, y_train, epochs=40, validation_split=0.2)

Epoch 1/40
200/200 [==============================] - 1s 3ms/step - loss: 0.4973 - accuracy: 0.7864 - val_loss: 0.4506 - val_accuracy: 0.8069
Epoch 2/40
200/200 [==============================] - 0s 2ms/step - loss: 0.4144 - accuracy: 0.8250 - val_loss: 0.4213 - val_accuracy: 0.8250
Epoch 3/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3885 - accuracy: 0.8394 - val_loss: 0.3893 - val_accuracy: 0.8369
Epoch 4/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3645 - accuracy: 0.8517 - val_loss: 0.3659 - val_accuracy: 0.8406
Epoch 5/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3526 - accuracy: 0.8555 - val_loss: 0.3544 - val_accuracy: 0.8556
Epoch 6/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3447 - accuracy: 0.8586 - val_loss: 0.3476 - val_accuracy: 0.8506
Epoch 7/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3403 - accuracy: 0.8592 - val_loss: 0.3425 - val_accuracy: 0.8550
Epoch 8/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3373 - accuracy: 0.8620 - val_loss: 0.3438 - val_accuracy: 0.8531
Epoch 9/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3355 - accuracy: 0.8623 - val_loss: 0.3414 - val_accuracy: 0.8537
Epoch 10/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3327 - accuracy: 0.8619 - val_loss: 0.3426 - val_accuracy: 0.8512
Epoch 11/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3315 - accuracy: 0.8619 - val_loss: 0.3482 - val_accuracy: 0.8475
Epoch 12/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3292 - accuracy: 0.8627 - val_loss: 0.3438 - val_accuracy: 0.8562
Epoch 13/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3287 - accuracy: 0.8653 - val_loss: 0.3427 - val_accuracy: 0.8531
Epoch 14/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3253 - accuracy: 0.8678 - val_loss: 0.3419 - val_accuracy: 0.8544
Epoch 15/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3249 - accuracy: 0.8648 - val_loss: 0.3423 - val_accuracy: 0.8544
Epoch 16/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3220 - accuracy: 0.8683 - val_loss: 0.3398 - val_accuracy: 0.8544
Epoch 17/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3219 - accuracy: 0.8669 - val_loss: 0.3399 - val_accuracy: 0.8562
Epoch 18/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3198 - accuracy: 0.8684 - val_loss: 0.3389 - val_accuracy: 0.8569
Epoch 19/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3202 - accuracy: 0.8680 - val_loss: 0.3413 - val_accuracy: 0.8556
Epoch 20/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3170 - accuracy: 0.8694 - val_loss: 0.3418 - val_accuracy: 0.8519
Epoch 21/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3171 - accuracy: 0.8698 - val_loss: 0.3449 - val_accuracy: 0.8544
Epoch 22/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3160 - accuracy: 0.8709 - val_loss: 0.3439 - val_accuracy: 0.8550
Epoch 23/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3148 - accuracy: 0.8703 - val_loss: 0.3418 - val_accuracy: 0.8544
Epoch 24/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3137 - accuracy: 0.8725 - val_loss: 0.3423 - val_accuracy: 0.8512
Epoch 25/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3118 - accuracy: 0.8733 - val_loss: 0.3465 - val_accuracy: 0.8569
Epoch 26/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3105 - accuracy: 0.8737 - val_loss: 0.3419 - val_accuracy: 0.8556
Epoch 27/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3110 - accuracy: 0.8731 - val_loss: 0.3503 - val_accuracy: 0.8519
Epoch 28/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3101 - accuracy: 0.8716 - val_loss: 0.3442 - val_accuracy: 0.8569
Epoch 29/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3072 - accuracy: 0.8755 - val_loss: 0.3442 - val_accuracy: 0.8562
Epoch 30/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3074 - accuracy: 0.8744 - val_loss: 0.3476 - val_accuracy: 0.8500
Epoch 31/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3070 - accuracy: 0.8739 - val_loss: 0.3474 - val_accuracy: 0.8575
Epoch 32/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3055 - accuracy: 0.8748 - val_loss: 0.3485 - val_accuracy: 0.8544
Epoch 33/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3040 - accuracy: 0.8788 - val_loss: 0.3468 - val_accuracy: 0.8544
Epoch 34/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3027 - accuracy: 0.8769 - val_loss: 0.3483 - val_accuracy: 0.8537
Epoch 35/40
200/200 [==============================] - 1s 3ms/step - loss: 0.3021 - accuracy: 0.8775 - val_loss: 0.3492 - val_accuracy: 0.8525
Epoch 36/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3016 - accuracy: 0.8764 - val_loss: 0.3503 - val_accuracy: 0.8531
Epoch 37/40
200/200 [==============================] - 0s 2ms/step - loss: 0.3008 - accuracy: 0.8789 - val_loss: 0.3482 - val_accuracy: 0.8556
Epoch 38/40
200/200 [==============================] - 0s 2ms/step - loss: 0.2992 - accuracy: 0.8792 - val_loss: 0.3496 - val_accuracy: 0.8587
Epoch 39/40
200/200 [==============================] - 0s 2ms/step - loss: 0.2993 - accuracy: 0.8783 - val_loss: 0.3488 - val_accuracy: 0.8562
Epoch 40/40
200/200 [==============================] - 0s 2ms/step - loss: 0.2986 - accuracy: 0.8792 - val_loss: 0.3510 - val_accuracy: 0.8550

In [21]:
model.layers[0].get_weights()

[array([[-1.34153754e-01, -3.45002502e-01, -6.78807050e-02,
         -3.54380816e-01,  4.27635312e-02, -1.64464936e-01,
          2.81379998e-01, -1.52513117e-01,  3.38620842e-01,
          1.54320046e-01, -3.21827494e-02, -3.46109450e-01,
          3.76613028e-02, -9.83327031e-02, -2.38769054e-01,
         -1.79984868e-01, -5.03535308e-02,  2.28570268e-01,
          2.53488272e-01, -2.59128720e-01, -1.90150648e-01,
         -1.56608343e-01,  1.18471369e-01, -1.25049409e-02,
         -2.43702494e-02, -2.59644270e-01, -3.21493775e-01,
          1.80935249e-01,  4.99262586e-02, -8.24860483e-02],
        [-2.63408005e-01,  1.79496318e-01,  7.79269934e-01,
          2.20588207e-01, -2.33355746e-01, -3.47282588e-01,
         -1.76187128e-01,  4.87410247e-01, -3.29637587e-01,
         -4.40628469e-01, -2.10258409e-01, -3.27057749e-01,
         -5.56758583e-01,  4.71646369e-01,  5.13447337e-02,
         -2.43922636e-01,  9.20494273e-02, -2.35141486e-01,
         -1.46691605e-01,  3.49133313e-02, -3.66731048e-01,
          6.29584968e-01,  1.94935426e-01, -1.86554000e-01,
          1.66815802e-01, -1.70754641e-01,  9.63256732e-02,
         -4.24677819e-01,  2.93304205e-01,  3.07574242e-01],
        [ 9.90852620e-03, -3.62284392e-01,  2.49651402e-01,
          1.91822141e-01,  4.72313613e-01,  1.48724228e-01,
          1.20491825e-01, -4.55438197e-02, -1.28161743e-01,
          4.70173389e-01, -2.58204967e-01,  1.46745861e-01,
          5.85178494e-01,  3.31584085e-03, -1.89291835e-01,
         -1.58172145e-01,  2.24863797e-01,  3.42434347e-01,
         -2.84326728e-02,  2.31310681e-01, -1.19460508e-01,
          3.16043735e-01,  1.63478866e-01,  1.41063139e-01,
          1.86871320e-01,  2.56429732e-01, -2.14489460e-01,
         -1.43294618e-01, -3.61894459e-01, -8.71513784e-03],
        [ 2.63089657e-01,  1.22615047e-01,  1.08647250e-01,
         -3.38329375e-01,  4.23637807e-01, -2.26052448e-01,
         -3.21069397e-02, -2.71134257e-01, -2.53270239e-01,
         -3.77011746e-01,  7.61333434e-03,  2.86092311e-01,
          1.37193739e-01,  2.87709594e-01,  5.11863768e-01,
          1.25591412e-01, -5.68126857e-01, -1.14181183e-01,
         -5.05456142e-02, -1.93415508e-01,  6.04872525e-01,
          1.90214515e-01, -3.08357984e-01, -5.77588201e-01,
         -1.18938677e-01,  1.09226517e-01,  1.61085680e-01,
          1.75997019e-01, -4.16318513e-02,  5.39065242e-01],
        [ 5.16702607e-02,  3.90561998e-01,  2.43453249e-01,
         -8.32751393e-02, -3.24496068e-02, -1.04561403e-01,
          3.85903895e-01, -1.20252118e-01, -2.98562765e-01,
          1.79903403e-01,  4.44146618e-02,  9.86377820e-02,
          6.69220835e-02,  1.54915035e-01,  4.39556800e-02,
          5.04605532e-01, -3.94820571e-01, -3.79285157e-01,
          5.78914464e-01,  4.50985104e-01, -1.29308954e-01,
          3.46529365e-01, -5.14165580e-01, -7.54863315e-04,
          5.28663546e-02,  4.58842158e-01, -2.99728841e-01,
          2.31416970e-01, -5.23763120e-01, -1.34298233e-02],
        [ 7.03180358e-02, -7.11485520e-02, -1.46901971e-02,
          2.96430618e-01, -2.71585584e-01, -1.16201296e-01,
         -3.45993102e-01,  1.23693589e-02,  2.14744896e-01,
          2.61780769e-01,  3.36538441e-02,  1.55903801e-01,
          2.16826439e-01,  7.22423717e-02, -2.80121602e-02,
          2.11048871e-01, -2.63712496e-01,  2.40870699e-01,
          1.47377014e-01,  7.93746859e-02, -8.44094381e-02,
         -2.67692149e-01, -4.08751704e-03, -1.67425707e-01,
         -2.40082607e-01, -1.46204298e-02, -4.38308828e-02,
         -2.69411027e-01,  3.64822179e-01, -3.24127674e-01],
        [-2.75434941e-01,  1.81797400e-01, -6.68834224e-02,
          5.12373373e-02,  3.23182464e-01, -4.14988428e-01,
          4.59650069e-01,  6.12611651e-01, -2.37661377e-02,
          6.76114082e-01, -1.77683726e-01,  5.47196448e-01,
          4.62652802e-01,  6.43708587e-01,  1.20744862e-01,
          1.03956029e-01,  1.75654322e-01, -2.60728031e-01,
         -2.73414940e-01, -7.73242041e-02, -2.65104741e-01,
         -1.75759718e-01, -2.43552253e-01,  3.95973697e-02,
         -6.89291358e-02,  1.60375193e-01, -2.47349918e-01,
          5.13302386e-01, -4.59573835e-01, -2.53399849e-01],
        [-8.01500976e-02, -1.50263369e-01,  1.39509097e-01,
         -4.54062432e-01, -1.61473840e-01, -1.81262180e-01,
         -1.64396912e-01, -1.00099426e-02,  3.48459005e-01,
         -1.90883186e-02,  1.13282330e-01,  1.48814604e-01,
         -1.95179850e-01,  8.15842450e-02, -6.73112333e-01,
          4.06022146e-02,  2.81463653e-01, -1.46421432e-01,
          3.59355658e-01, -8.52835178e-03, -8.66068825e-02,
         -2.49212429e-01,  6.47702590e-02, -4.51179862e-01,
         -2.32328206e-01,  2.26130128e-01,  2.43224010e-01,
         -7.58725852e-02,  1.09388538e-01,  2.25398615e-01],
        [-4.62745667e-01,  2.99082063e-02,  1.70637086e-01,
         -1.55537024e-01,  3.09031188e-01, -3.83034229e-01,
         -1.53203070e-01,  1.65139735e-01,  2.09956020e-01,
         -1.04186632e-01,  4.22711790e-01, -1.07724048e-01,
          1.76091284e-01, -1.58056617e-01, -1.16360374e-01,
          1.46352977e-01, -1.87926628e-02, -2.01571271e-01,
         -1.63824916e-01,  3.61942537e-02,  1.26549706e-01,
         -3.15962404e-01, -3.02099794e-01,  1.95357464e-02,
         -2.59671092e-01,  3.74543607e-01,  3.89644563e-01,
         -2.04000920e-01,  2.31425479e-01,  1.37403145e-01],
        [-1.72985211e-01,  3.16742182e-01, -2.34389231e-01,
          1.24015868e-01, -2.87868798e-01,  9.32936519e-02,
         -2.54622519e-01,  2.40040332e-01, -1.12322167e-01,
         -1.89584807e-01,  1.79417938e-01, -2.33543739e-01,
          3.73023093e-01, -1.07373856e-01, -6.55925423e-02,
         -3.68619084e-01,  3.56659412e-01,  1.91601604e-01,
          1.07144952e-01,  2.65139312e-01, -4.12754208e-01,
         -1.52046800e-01,  6.14164695e-02, -1.61566734e-01,
         -6.51133060e-01,  3.40262264e-01,  2.25762963e-01,
          3.41133922e-01, -1.74218968e-01,  2.42719874e-01],
        [ 3.04537386e-01,  5.15070975e-01, -7.34659731e-02,
          1.06016523e-03, -2.68116593e-01,  4.57111038e-02,
          2.49107759e-02,  1.59985170e-01, -7.84150288e-02,
         -1.51705950e-01,  3.39544624e-01,  2.17506900e-01,
          2.84692824e-01, -1.42669633e-01,  2.87511081e-01,
         -1.99460283e-01,  4.70707148e-01, -5.38527071e-01,
          5.71989231e-02, -3.59533101e-01,  1.09567255e-01,
         -2.64555722e-01,  7.54830753e-03, -3.88323396e-01,
          4.99848463e-02, -2.09490389e-01, -3.35670710e-01,
          1.78395167e-01,  1.59560308e-01,  1.37992471e-01]], dtype=float32),
 array([ 0.25569063, -0.01507129, -0.38402644, -0.18757226, -0.01828607,
         0.15821812, -0.02257569, -0.15422939,  0.26495445,  0.29128438,
         0.12878774,  0.27260697,  0.08785239, -0.06346961, -0.06722436,
         0.14106953,  0.31824178,  0.10736821,  0.11857902, -0.13168359,
         0.14082287, -0.05096028, -0.29731134,  0.27449635,  0.01141135,
        -0.03810618,  0.17102481,  0.1438084 , -0.0454662 , -0.0453393 ],
       dtype=float32)]

In [22]:
y_prob= model.predict(X_test_scaled)
y_prob

63/63 [==============================] - 0s 1ms/step

array([[0.03152439],
       [0.20150022],
       [0.11433749],
       ...,
       [0.07074253],
       [0.21261708],
       [0.02464168]], dtype=float32)

In [23]:
y_pred= y_prob.argmax(axis=1)

In [24]:
from sklearn.metrics import accuracy_score

In [25]:
accuracy_score(y_test, y_pred)

0.7955